.logo {
	min-width: 5%;
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	font-family: 'Oswald', sans-serif;
}

.container img {
	min-width: 5%;
	max-width: 100%;
	overflow: hidden;
}

.container img {
	transition: transform .5s ease;
}

.container img:hover {
	-moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.5);
}
.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 5fr);
	grid-template-rows: repeat(3, auto);
	}
